
* {
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  cursor: crosshair;
  
}
 
 .container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  }
 
 .menu {
   display: flex;
   flex-direction: row;
   align-items: row;
   font-size: 8px;
 }
 
 .item1, .item2, .item3 {
  text-align: center;
  color: rgb(143, 37, 37);
  
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(3px) saturate(2);
}

.below {
  background-color: rgba(228, 228, 228, 0);
  height: 1px;
  color: rgb(255, 255, 255);
}

.below2 {
  color: rgb(98, 248, 203);
  display: flex; /* Use flexbox to center elements */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  text-align: center;
  font-size: 3px;
  text-shadow: 0 0 5px hsl(154, 84%, 70%);
  filter: drop-shadow(10px 10px 10px rgba(0, 255, 89, 0.687));
}

.below2:hover {
  color: #05ff69;
  display: flex; /* Use flexbox to center elements */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  text-align: center;
  font-size: px;
  transition: 1000ms ease;
}


 .menu1 {
font-size: 8px;
 }

 a:link {
  color: rgb(74, 254, 200);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color:rgb(255, 255, 255);
  text-decoration: underline;
}

a:active {
  color:rgb(98, 248, 203);
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: rgb(98, 248, 203);
  background-color: transparent;
  text-decoration: none;
}

.container3 {
  display: flex;
  justify-content: center;
  height: 25px;
  margin-top: 50px;

}

.scrolling-content {
  animation: scroll 6s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


@keyframes lines {
  0% {background-position: 0px 0px}
  50% {background-position: 0px 0px}
  51% {background-position: 0px 1px}
  100% {background-position: 0px 1px}
}

#interlaced {
  position: fixed;
  background: repeating-linear-gradient(transparent 0px 1px, hsl(154 0% 0%/.3) 3px 4px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  animation: lines 0.066666666s linear infinite;
}

